@font-face {
    font-family: "Plain";
    src: url(Fonts/plain-regular-webfont.ttf);
}
@font-face {
    font-family: "Silk Serif";
    src: url(Fonts/silkserif-regularitalic-webfont.ttf);
}
@font-face {
    font-family: "Silk Serif";
    src: url(Fonts/silkserif-lightitalic-webfont.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Silk Serif';
    background-color: #151515; 
    color: #FFFFFF;
}
#crsr {
    position: absolute;
    z-index: 999999;
    width: 2.2vw;
    height: 2.2vw;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid white;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}


/* LOADER     LOADER      LOADER      LOADER      LOADER      LOADER      LOADER      LOADER      LOADER */
#loader {
    width: 100%;
    height: 100vh;
    padding: 20vh 0vw 0 7vw;
    background-color: #0B0B0B;
    /* background-color: black; */
    position: fixed;
    z-index: 9999;
    text-transform: uppercase;
}
.line {
    display: flex;
    align-items: top;
    width: 100%;
    height: fit-content; 
    overflow: hidden;
}
#line1-part1 {
    display: flex;
    margin-right: 5vw;
    margin-top: -1vh;
}
#line1-part1 h5 {
    width: 6vw;
    /* background-color: red; */
}
#line1-part1 h5, h6 {
    font-size: 3.5vw;
    font-weight: 400;
}
.line h1 {
    font-size: 7vw;
    font-weight: 500; 
    line-height: 7vw;
    font-family: "Plain";
}
.line h2 {
    margin-left: 3vw;
    font-size: 6.5vw;
    font-weight: 500; 
    opacity: 0;
    animation: now 1s linear infinite;
} 
#loader-btm {
    position: absolute;
    top: 75%;
    left: 30%;  
    overflow: hidden;
}
#loader-btm h6 {
    font-size: 1vw;
    font-weight: 400;
    line-height: 1vw;
    /* font-style: italic; */
    text-transform: none;
}

@keyframes now {
    0% {
        font-family: 'Plain';
        color: white;
        opacity: 1;
    }
    48% {
        font-family: 'Plain';
        color: white;
        opacity: 0;
    }
    50% {
        font-family: 'Silk Serif';
        font-style: italic;
        color: transparent;
        -webkit-text-stroke: 1px white;
        opacity: 0;
    }
    100% {
        font-family: 'Silk Serif';
        font-style: italic;
        color: transparent;
        -webkit-text-stroke: 1px white;
        opacity: 1;
    }
    
}



/* PAGE1     PAGE1      PAGE1      PAGE1      PAGE1      PAGE1      PAGE1      PAGE1      PAGE1 */
#pg1 {
    width: 100%;
    height: 100vh;
    font-family: "Plain";
    /* background-color: red; */
}
#nav {
    width: 100%;
    height: 17vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
    margin-bottom: 16vh;
}
#lnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5vw;
}
#rnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5vw;
}
#rnav h3 {
    font-size: .95vw;
    font-weight: 500;
}
#cnav {
    position: absolute;
    top: 7%;
    left: 28%;
}
#cnav h3 {
    font-size: .95vw;
    letter-spacing: .02vw;
    font-weight: 100;
    line-height: 1vw;
}


#pg1 h5 {
    position: absolute;
    left: 19%;
    top: 33%;
    font-size: 3vw;
    font-family: 'Silk Serif';
    font-style: italic;
    font-weight: 500;
}
.hero {
    width: 73%;
    height: fit-content;
    /* background-color: yellow; */
    margin-left: 27%;    
    overflow: hidden;

    display: flex;
    align-items: center;
   
}
.hero h1 {
    font-size: 7.5vw;
    font-weight: 500;
    line-height: 7.35vw;
    text-transform: uppercase;
}

#brdr1, #brdr2 {
    border-bottom: .6vw solid white;
}
#brdr1:hover {
    color: transparent;
    -webkit-text-stroke: 2px white;
    border-bottom: 0px;
}
#brdr2:hover {
    color: transparent;
    -webkit-text-stroke: 2px white;
    border-bottom: 0px;
}


/* PAGE2     PAGE2      PAGE2      PAGE2      PAGE2      PAGE2      PAGE2      PAGE2      PAGE2 */
#pg2 {
    width: 100%;
    height: 100vh;
    /* background-color: red; */
}
#video-container {
    height: 80vh;
    width: 70vw;
    position: relative;
    top: 5vh;
    left: 25vw;
    overflow: hidden;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    object-fit: cover;
}
#video-container img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#video-cursor {
    position: absolute;
    top: 2%;
    left: 80%;

    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    background-color: #FFA63D;
    display: flex;
    align-items: center;
    justify-content: center;
}
#video-cursor i {
    font-size: 3vw;
}



/* PAGE3     PAGE3      PAGE3      PAGE3      PAGE3      PAGE3      PAGE3      PAGE3      PAGE3 */
#pg3 {
    width: 100%;
    min-height: 100vh;
    position: relative;
    font-family: "Plain";
}
#pg3>h1 {
    font-size: 7.5vw;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: -.1vw;
    margin-left: 20vw;
}
#pg3>h1::before {
    content: "02";
    font-size: 3.3vw;
    margin-right: 3vw;
    position: relative;
    top: -6vh;
    font-family: "Silk Serif";
}
#pg3>.underline {
    margin-top: 3vh;
    height: .05vw;
    background-color: rgba(255, 255, 255, 0.900);
    margin-left: 27VW;
    margin-right: 3vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#image-container {
    width: 100%;
    min-height: 80vh;
    /* background-color: red; */
    padding: 5vh 3vw ;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.image-div {
    width: 30vw;
    height: 38vw;
    /* background-color: yellow; */
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin: 2vw;
}
.image-div:nth-child(1) {
    width: 22vw;
    height: 27vw;
}
.image-div:nth-child(5) {
    margin-left: 3vw;
    margin-top: 30vh;
}
.image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pg3-circle1 {
    width: 23vw;
    height: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45vh;
    margin-left: 5vw;
    position: relative;
    overflow: hidden;
}
.pg3-circle1 svg {
    /* width: 100%; */
    height: 40%;
}
.gola {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease .3 s;
    /* position: relative; */
    scale: 0;
}
.gola p {
    width: 70%;
    font-size: .9vw;
    color: #0B0B0B;
    font-weight: 500;
    scale: 0;
    opacity: 0;
    transition: all ease .3s;
    transition-delay: .4s;
}
.pg3-circle1:hover .gola {
    scale: 1;
}
.pg3-circle1:hover .gola p {
    scale: 1;
    opacity: 1;
}

.pg3-circle2 {
    width: 23vw;
    height: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

}
.pg3-circle2 svg {
    rotate: -45deg;
    height: 40%;
}
.gola2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease .3 s;
    scale: 0;
    z-index: 99;
}
.gola2 p {
    width: 100%;
    font-size: .9vw;
    color: #0B0B0B;
    font-weight: 500;
    scale: 0;
    opacity: 0;
    transition: all ease .3s;
    transition-delay: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pg3-circle2:hover .gola2 {
    scale: 1;
}
.pg3-circle2:hover .gola2 p {
    scale: 1;
    opacity: 1;
}
.image-div:nth-child(7) {
    width: 25vw;
    height: 30vw;
}
.pg3-circle3 {
    width: 23vw;
    height: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-top: 55vh;
    margin-left: 3VW;

}
.pg3-circle3 svg {
    rotate: -90deg;
    height: 40%;
}
.gola3 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease .3 s;
    scale: 0;
    z-index: 99;
}
.gola3 p {
    width: 100%;
    font-size: .9vw;
    color: #0B0B0B;
    font-weight: 500;
    scale: 0;
    opacity: 0;
    transition: all ease .3s;
    transition-delay: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pg3-circle3:hover .gola3 {
    scale: 1;
}
.pg3-circle3:hover .gola3 p {
    scale: 1;
    opacity: 1;
}
.image-div:nth-last-child(1) {
    margin-top: 15vh;
    width: 30vw;
    height: 40vw;
}

.pg3-btm {
    width: 20vw;
    height: 20vw;
    background-color: #FFA63D;
    border-radius: 50%;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    transition: all ease .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pg3-btm:hover {
    scale: .7;
}
.pg3-btm p {
   font-size: 1.1vw;
   color: #fff;
   font-weight: 400;
}

/* PAGE4     PAGE4      PAGE4      PAGE4      PAGE4      PAGE4      PAGE4      PAGE4      PAGE4 */
#pg4 {
    width: 100%;
    min-height: 100vh;
    position: relative;
    font-family: "Plain";
    padding: 5vw 4vw;
}
#pg4>h1 {
    font-size: 8vw;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 27%;
    letter-spacing: -.2vw;
    /* background-color: red; */
}
#pg4 h5 {
    position: absolute;
    left: 20%;
    top: 5%;
    font-size: 3.2vw;
    font-style: italic;
    font-family: "Silk Serif";
    font-weight: 100;
   
}
#pg4 .underline {
    margin-top: 10vh;
    margin-left: 27%;
    width: 73%;
    height: .05vw;
    background-color: white;
}
#pg4>p {
    margin-top: 5vh;
    font-size: 2.3vw;
    line-height: 2.5vw;
    font-weight: 100;
    margin-left: 27%;
    margin-bottom: 5vh;
}
#pg4-flex {
    display: flex;
    gap: 1.5vw;
}
#pg4-flex img {
    width: 35%;
    height: 84vh;
    margin-left: 27%;
}
#pg4-flex>p {
    width: 20%;
    font-size: 1vw;
    font-weight: 100;
    line-height: 1.4vw;
}
#pg4-blue {
    width: 32%;
    height: 80vh;
    background-color: #3F7DF4;
    padding: 4vw 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    left: 51%;
    margin-top: -33vh;
    margin-bottom: 16vh;
}
.blue-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border-bottom: 1px solid white;

}
.blue-line h2 {
    font-size: 1.6vw;
    font-weight: 400;
    margin-bottom: 3vw;
}
.blue-line>p {
    width: 40%;
    margin-bottom: 2vw;
}

#pg4 h6 {
    font-size: 1vw;
    font-weight: 400;
    margin-top: 2vh;
    margin-left: 27%;

}


/* PAGE5     PAGE5      PAGE5      PAGE5      PAGE5      PAGE5      PAGE5      PAGE5      PAGE5 */

#pg5 {
    width: 100%;
    min-height: 80vh;  
    overflow: hidden;
    font-family: "Plain";
   
}
#scroll h1 span {
    font-family: "Silk Serif";
    /* font-weight: 500; */
}

.scroll1 {
    width: fit-content;
    height: fit-content;
    text-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    transition: all .5s;
    animation: scroll 25s linear infinite ;
}
.scroll1::-webkit-scrollbar {
    display: none;
}
.scroll1 h1 {
    font-size: 7.5vw;
    line-height: .8;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: .1px rgba(255, 255, 255, 0.700);
    display: inline-block;
}

.scroll2 {
    width: fit-content;
    height: fit-content;
    text-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    transition: all .5s;
    animation: scroll 24s linear infinite reverse;
}
.scroll2::-webkit-scrollbar {
    display: none;
}
.scroll2 h1 {
    font-size: 7vw;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: .1px rgba(255, 255, 255, 0.700);
    display: inline-block;
}

@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
    
}

/* PAGE6     PAGE6      PAGE6      PAGE6      PAGE6      PAGE6      PAGE6      PAGE6      PAGE6 */

#pg6 {
    width: 100%;
    height: 100vh;
    padding: 15vh 5vw 3vh 27vw;
    position: relative;
    font-family: "Plain";
}
#pg6>h1 {
    font-size: 7.5vw;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: -.1vw;
    margin-left: -7.2vw;
}
#pg6>h1::before {
    content: "04";
    font-size: 3.3vw;
    margin-right: 3vw;
    position: relative;
    top: -6vh;
    font-family: "Silk Serif";
}
#pg6>.underline {
    margin-top: 3vh;
    
    /* width: 73%; */
    height: .05vw;
    background-color: rgba(255, 255, 255, 0.900);
}
#social {
    width: 94%;
    margin-top: 6vh;
    display: flex;
    align-items: top;
    justify-content: space-between;
    /* background-color: red; */
    margin-bottom: 10vh;
}
#social #sleft {
    display: flex;
    flex-direction: column; 
}
#social h5 {
    font-size: 1.1vw;
    font-weight: 100;
    margin-bottom: 5vh;
}
#social a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.900);
    font-size: 1.8vw;
    line-height: 2.1vw;
}
#sright a{
    border-bottom: .5px solid rgba(255, 255, 255, 0.900);
}
#pg6 h6 {
    margin-top: 5vh;
    font-size: 1.1vw;
    letter-spacing: .04vw;
}

._canvas_container {
    z-index: 9999999 !important;
    pointer-events: none; 
}